@value small: (max-width: 768px);

.tableContainer {
  background-color: #FFF;
  box-shadow: 0px 0px 15px rgba(0,0,0,.1);
  text-align: left;
  box-sizing: border-box;
}

.rowContainer {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  font-family: monospace;
}


@media small {
  .hideSmall {
    display: none;
  }
}
